.card {
    width: 100%;
    height: 100px;
    border-radius: 0% !important;
    text-align: center;
    color: var(--color-text-h1);
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 10px 0px;

}
.card .card_info p {
    margin-bottom: 0px;
}

.card .img_discount {
    padding: 20px;
}
.card .discount{
    color: var(--color-button);
}

.img_discount h6 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-button);
    padding: 3px 5px;
    color: var(--color-text-button);
    text-transform: uppercase;
    font-size: 13px;
}

.img_discount .discount {
    color: var(--color-text-h6);
}
.card .button {
    width: 80%;
    height: 0;
    color: var(--color-text-button);
    background: var(--color-button);
    border: none;
    overflow: hidden;
    margin: 0 auto;
    transition: .5s ease;

}

/* animation*/
.card .img_discount{
    position: relative;
}
.card .img_info{
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.card:hover .img_info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}
.card:hover .img_info1{
    transform: translateX(110%);
    transition: .5s ease;
}

.card .card_info{
    position: relative;
    overflow: hidden;
}
.card:hover  .button{
    height: 50%;
    position: absolute;
    bottom:20px;
    left: 0;
    right: 0;
}
.card:hover .card_info1{
    transform: translateY(-110%);
    transition: .5s ease;
}

.card .button:hover{
    background : var(--color-text-h1);
}