* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_right {
    display: flex;
    align-items: center;

}

.header_right a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}
.header_right a:hover{
    color: var(--color-button);
}
.header_right1 a:hover{
    color: var(--color-button);
}
.header_right1 {
    display: none;
}









.contain {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white !important;
    padding:10px 50px;
}

.nav-item {
    /* display: flex !important; */
    position: relative;
    align-items: center;
    color: white !important;
    margin: 0px 15px;
}
.nav-item .submenu_1{
    width: 200px;
    
    position: absolute;
    top:30px;
    left: -10px;
    transition: none !important;
    white-space: nowrap;
}
.nav-item .submenu{
    display: flex;
    align-items: center;
   
}
.nav-item a{
    
    color: white;
    text-decoration: none;
}

.nav-item h6 {
    margin-right: 10px;
    white-space: nowrap;
}
.navbar {
    height: 10% !important;
    z-index: 1 !important;
   
}

.navbar-brand {
    font-size: 24px !important;
    color: #fff !important;
}

.navbar-nav {
   
    align-items: center;
    padding: 20px 0px;
}

.nav-item:hover h6 {
    color: #FF0505;
}

.navbar-toggler-icon {
    background-image: url(../../img/menu.png) !important;
    background-size: cover !important;
    background-position: center !important;
}

.modal {

    --bs-modal-width: 100% !important;
    opacity: 1;
    --bs-modal-bg: none !important;
    color: white !important;
    padding: 50px;


}
.modal-content {
    border: none !important;
}

.modal button {
    border: none;
    text-align: end;
    color: white;
    font-size: 48px;
}

.modal-header {
    border: none !important;
}

.search h1 {
    font-size: 64px !important;
}

.search1 input {
    width: 90%;
    padding: 20px;
    outline: none;

}

.search .search1 {
    display: flex;

}

.icon_search {
    width: 10%;
    padding: 20px;
    background-color: #FF0505;
    text-align: center;

}

::placeholder {
    color: black;
}
.collapse .show {
    white-space: nowrap;
    padding: 0px 20px;
    color: black;
    text-align: left;
}
.collapse .show ul{
    background:white;
    padding: 10px;
}
 .navbar .collapse ul li{
    list-style: none;
    
 }



    @media only screen and (max-width: 1024px) { 
        .header_right {
            display: none;
        }
        .navbar-brand {
            font-size: 20px !important;
          
        }
    }
    
    @media only screen and (max-width: 770px) { 
        .header_right1{
            display: block;
         }
         .header_right1 a {
            text-decoration: none;
            color: #fff;
            white-space: nowrap;
        }
        
            .header_right {
                display: none;
            }
    }
   
   
@media only screen and (max-width: 576px) {

    .navbar-nav {
        align-items: normal;
    }

   

    .header_right1 {
        display: flex;
        align-items: center;
    }

    .header_right1 a {
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
    }

    .header_right {
        display: none;
    }
    
    .navbar-collapse{
        margin-top: 20px !important;
        background: black !important;
       opacity: .8 !important;
    }
    .nav-item h6{
        margin-left: 15px !important;
    }
    .submenu a{
        width: 70%;
        padding: 10px;
    }
    .nav-item .submenu_1{
        display: block;
        position:unset;
       
    }
    
}