.footer{
    background:var(--bg-body) !important;
    color: #BDBDBD;
    border: 1px solid white;
    padding: 50px ;
    font-size: 13px;
}
.footer_info{
    width: 100%;
    height: 100%;
}

.footer_info .icons{
    display: flex; 
    margin-top: 30px;
}
.footer_info .icons a{
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height:48px;
    background: #313131;
    text-align: center;
    font-size: 24px;
    color: #BDBDBD;
    margin-right: 10px;
    
}

.footer .footer_info p {
    margin: 30px 0px;
}
.footer .footer_info a{
    
    text-decoration: none;
    color:#BDBDBD ;
}
.footer_menu{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0px ; 
}
.footer_menu a{
    text-decoration: none;
    color: #BDBDBD;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer_menu a:hover{
    color: #FF0505;
}
.footer .footer_sub{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.footer_sub input{
    outline: none;
    padding: 10px;
    width: 90%;
    
}
.footer_sub button{
    padding:10px;
    background: #FF0505;
    border: none;
    color: white;
}
.footer .footer_phone{
    display: flex;
    margin: 30px 0px;
}
.footer .footer_phone p{
    margin-bottom: 0px;
}
.footer .footer_phone i{
  padding: 10px;
}
.footer .footer_phone a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }
 .footer .footer_contact .footer_sub ::placeholder {
    color:  #BDBDBD;
}
.footer_info .icons .ins:hover {
    color: white;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.footer_info .icons .fb:hover{
    color: white;
    background: #4585fb;
}
.footer_info .icons .tw:hover{
    color: white;
    background: #1DA1F2;
}
.footer_info .icons .yb:hover{
    color: white;
    background: #FF0000;
}