* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_right {
    display: flex;
    align-items: center;

}

.header_right a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}

.header_right1 {
    display: none;
}

.banner {
    width: 100%;
    height: 800px;
    margin-bottom: 70px;

}

.banner .banner_left {
    width: 50%;
    height: 100%;
    padding-top: 100px;
    padding-left: 50px;
}

/* .banner .banner_right {
    width: 50%;
    height: 100%;
} */

.banner .banner_left h1 {
    font-size: 76px;
    color: #fff;
}

.banner .banner_left span {
    color: #76CE16;
}

.banner .banner_left button {
    padding: 20px 50px;
    background: red;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}

.imgs {
    height: 700px;
    position: absolute;
    top: 0px;
    right: 60px;

}

.carousel {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -1 !important;
}

.carousel img {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}

.carousel-control-prev {
    width: 4% !important;
}

.carousel-control-next {
    width: 4% !important;
}

.carousel-indicators {
    bottom: 50px !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.carousel-item.active {
    height: 100% !important;
}

.carousel-item {
    height: 100% !important;
}


.banner2 {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    display: flex;
    color: var(--color-text-button);
    text-align: left;
    padding: 0px 50px;
}

.banner2 .col {
    position: relative;
    padding: 20px 50px !important;
    background-image: url(../../img/bg_img.png);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner2 i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.banner2 i:hover {
    color: var(--color-text-h1);
}

.banner2 .col h3 {
    margin: 20px 0px;
}



@media only screen and (max-width: 1440px) {
    .imgs {
        height: 500px;
        position: absolute;
        top: 10%;
        right: 30px;
    }

    .banner .banner_right {
        width: 40%;
        height: 50%;
    }

    .banner .banner_left {
        width: 60%;
        height: 50%;
    }

    .banner .banner_left h1 {
        font-size: 56px;
    }

    .banner2 {
        position: absolute;
        top: 95%;
        left: 0;
        right: 0;

    }
    .banner {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 900px) {
    .banner2 {
        padding: 0px;
    }

    .imgs {
        height: 300px;
        position: absolute;
        top: 30%;
        right: 30px;
    }

    .banner .banner_left h1 {
        font-size: 40px;
    }

    .banner .banner_left button {
        padding: 10px 30px;
        background: red;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;
        font-size: 16px;
    }

    .header_right {
        display: none;
    }

    .banner {
        margin-bottom: 500px;
    }
    .banner2 {
        position: absolute;
        top: 95%;
        left: 0;
        right: 0;
    }
   
}

@media only screen and (max-width: 576px) {
    .banner .banner_left {
        width: 100%;
        height: 50%;
    }

    .banner .banner_right {
        width: 100%;
        height: 50%;
    }

    .banner .banner_left h1 {
        font-size: 24px;
    }

    .imgs {
        height: 250px;
        position: absolute;
        top: 55%;
        right: 30px;
    }

    .banner .banner_left button {
        padding: 10px 30px;
        background: red;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;
        font-size: 16px;
    }


    .header_right1 {
        display: block;
    }

    .header_right1 {
        display: flex;
        align-items: center;
    }

    .header_right1 a {
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
    }

    .header_right {
        display: none;
    }


    .carousel-control-prev {
        display: none !important;
    }

    .carousel-control-next {
        display: none !important;
    }

    .banner {
        margin-bottom: 630px;
    }

    .banner2 .col {
        width: 100%;
    }

    .banner2 {
        flex-direction: column;
    }

    .banner2 {
        position: absolute;
        top: 95%;
        left: 0;
        right: 0;

    }
}